<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" >KIDZApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="float: right;" routerLink="/puzzle">Puzzles</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" style="float: right;" routerLink="/admin">Admin</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" style="float: right;" *ngIf="isLoggedIn" (click)="logout()" routerLink="/login">Logout</a>
        </li> -->
        <!-- <li><a (click)="logout()">Logout</a></li> -->
      </ul>
      <span class="navbar-text">

        <!-- <li class="nav-item" >
          <a class="nav-link" (click)="logout()">Logout</a>
        </li> -->
        <a class="nav-link" style="float: right;"  (click)="Logout()" routerLink="/login" >Logout</a>
        <a class="nav-link" style="float: right;"  routerLink="/login" >Login</a>        
        <a class="nav-link" style="float: right;"  routerLink="/register">SignUp</a>
        

        
          </span>
    </div>
  </nav>



  <!-- <div class="alert alert-success" role="alert">
    Login component!
  </div>
  <button 
    class="btn btn-outline-warning" 
    >Login as User</button>
  <button 
    class="btn btn-outline-danger" 
    
    >Login as Admin</button> -->