.table{
    /* margin-left: 20%; */
    margin-top: 8%;
    font-weight: 600;
    border: dotted 1px rgb(209, 32, 32);
    border-collapse: collapse;
    padding: 14px 10px;
    text-align: center;
    /* background-color: lightgreen; */
}