<div>
    <!-- <h3 style="text-align: center;">Learn Numbers</h3> -->
</div>
<div class="card">
    <!-- <div class="card-header" style="font-size: larger; text-align: center;"> 
        
    </div> -->
    <div class="card-body" >
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Numbers</th>
                        <th>In Words</th>
                        <th> <button (click)='toggleImage()'>Display</button></th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor='let number of numbers'>
                        
                        <td>                     
                            <img [src] = 'number.numberImageUrl'
                            [style.width.px] = 'imageWidth'
                            [style.margin.px] = 'imageMargin'>
                        </td>
                        <td>{{number.numberWords}}</td>
                        <td>                           
                            <img *ngIf = 'showImage'
                            [src] = 'number.imageUrl'
                            [style.width.px] = 'imageWidth'
                            [style.margin.px] = 'imageMargin'> 
                        </td>
                    </tr>
                   
                   
                    </tbody>
            </table>
            <br>
            <br>
        </div>
    </div>